{% extends 'base.html' %}


{% block title %} About {% endblock %}









{% block body %}





<div class="bg-dark text-secondary px-4 py-5 text-center guide-margin">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">The Dark Side of the Moon!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">And you run and you run to catch up with the sun but it's sinking
                Racing around to come up behind you again
                The sun is the same in a relative way, but you're older
                Shorter of breath and one day closer to death.
                </p>

        </div>
    </div>
</div>








{% endblock %}