{% extends 'base.html' %}


{% block title %} About {% endblock %}









{% block body %}





<div class="bg-dark text-secondary px-4 py-5 text-center guide-margin">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">About Page</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum libero quidem rem, nam
                molestias corrupti quos in laudantium iste suscipit architecto error sunt adipisci non labore,
                repudiandae tempora cumque accusamus.
            </p>

        </div>
    </div>
</div>








{% endblock %}