{% extends 'base.html' %}


{% block title %} Guide{% endblock %}



{% block body %}




<div class="bg-dark text-secondary px-4 py-5 text-center guide-margin">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Guide Page</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro repellat adipisci in
                dignissimos tenetur corrupti eaque ipsa atque quibusdam qui, quas odio tempore nulla possimus
                architecto. Laborum, repellat provident. Voluptate cum eligendi veniam fugit recusandae?</p>

        </div>
    </div>
</div>








{% endblock %}