{% extends 'base.html' %}


{% block title %} Guide{% endblock %}



{% block body %}




<div class="bg-dark text-secondary px-4 py-5 text-center guide-margin">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Master of Puppets</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Master, master,
                Master of puppets, I'm pulling your strings
                Twisting your mind and smashing your dreams
                Blinded by me, you can't see a thing
                Just call my name 'cause I'll hear you scream
                Master, master
                Just call my name 'cause I'll hear you scream
                Master, master</p>

        </div>
    </div>
</div>








{% endblock %}