{% extends 'base.html' %}


{% block title %} Sign Up {% endblock %}



{% block body %}



<div class="container col-xl-10 col-xxl-8 px-4 py-5" >
    <div class="row align-items-center g-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Welcome Peasants!</h1>
            <p class="col-lg-10 fs-4">There's a sign on the wall but she wants to be sure
                'Cause you know sometimes words have two meanings.
                In a tree by the brook, there's a songbird who sings,
                Sometimes all of our thoughts are misgiven.</p>
        </div>
        <div class="col-10 mx-auto col-lg-5" style="padding-left: 0; padding-right: 0;">
            <form class="p-5 border rounded-3 bg-light" action="/home" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" placeholder="Enter name" id="username" name="username" required>
                    <label for="floatingInput">Enter name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" name="password"
                        placeholder="Enter password" required>
                    <label for="floatingInput">Password</label>
                </div>
                <div class="form-floating mb-3 overflow-auto">
                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" required>
                    <label for="floatingPassword">Password again</label>
                </div>

                <button class="w-100 btn btn-lg btn-primary" id="submit" name="submit" type="submit">Sign up</button>
                <hr class="my-4">
                <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
            </form>
            {% for field in form.errors %}
            {% for error in form.errors[field] %}
            <div class="alert alert-warning">
                <strong>Error!</strong> {{error}}
            </div>
            {% endfor %}
            {% endfor %}


            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>
















{% endblock %}