{% extends 'base.html' %}

{% block title %} Reset Password  {% endblock %}




{% block body  %}   



<div class="col-10 mx-auto col-lg-3 login-container">

    <form class="p-5 border rounded-3 bg-light" action="/reset_password/{{ user.username }}" method="POST">
        {{ form.hidden_tag() }}
        <h3>Reset Password</h3>
        <hr class="my-4">
        <p class="fs-5">Please enter your new password</p>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter New Password">
            <label for="floatingInput">Enter New Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Confirm New Password">
            <label for="floatingInput">Confirm New Password</label>
        </div>
        <hr class="my-4">
        <div class="d-flex justify-content-center" >
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </div>
        
    
    </form>
    {% for field in form.errors %}
    {% for error in form.errors[field] %}
    <div class="alert alert-warning">
        <strong>Error!</strong> {{error}}
    </div>
    {% endfor %}
    {% endfor %}


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</div>



{% endblock %}

